.con-or {
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-line {
    height: 1px;
    width: 132px;
    background-color: #000000;
    opacity: 20%;
}
.element-or {
    padding: 0px 10px;
}
