.cover-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  margin: 0px 7px;
  background-color: #fafafa;
}
